<ion-view view-title="Tabs" cache-view="false">
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="Pending" icon="icon ion-android-radio-button-on" ng-click="goToPage('dashboard.bookings')" class="tabItem">
            <ion-nav-view name="dashboard-bookings"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Accepted" icon="icon ion-checkmark-circled" ng-click="goToPage('dashboard.accepted')"  class="tabItem">
            <ion-nav-view name="dashboard-accepted"></ion-nav-view>
        </ion-tab>
        <ion-tab title="On-Going" icon="icon ion-clock" ng-click="goToPage('dashboard.ongoing')" class="tabItem">
            <ion-nav-view name="dashboard-ongoing"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Completed" icon="icon ion-checkmark-round" ng-click="goToPage('dashboard.completed')" class="tabItem">
            <ion-nav-view name="dashboard-completed"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

