<ion-view view-title="Home" name="home-view" class="homeBG" cache-view="false">
    <ion-content overflow-scroll="true" class="padding">
        <ion-slide-box>
            <ion-slide>
                <img src="img/Hydrangeas.jpg" style="width:100%" />
            </ion-slide>
            <ion-slide>
                <img src="img/Desert.jpg" style="width:100%" />
            </ion-slide>
            <ion-slide>
                <img src="img/Chrysanthemum.jpg" style="width:100%" />
            </ion-slide>
        </ion-slide-box>

        <div class="row">
            <div class="col col-50">
                <button class="button button-positive width-100" ng-click="goToPage('login')">
                    Login
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-positive width-100" ng-click="goToPage('signup')">
                    Sign-Up
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
