<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Select Location</h1>
        <button class="button button-primary no-border" ng-click="closeLocation()">Cancel</button>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <ion-list>


            <ion-item>
                <label class="item-input textbox-search">
                    <input type="search" placeholder="Search">
                    <i class="icon ion-search size-25"></i>
                </label>
            </ion-item>

            <ion-item>
                <label class="item-input textbox-search">
                    <input type="text" placeholder="Current Location">
                    <i class="icon ion-android-locate size-25"></i>
                </label>
            </ion-item>


        </ion-list>

        <ion-list>
            <h4 class="title center-align">Recent Searches</h4>
            <ion-radio ng-model="choice" ng-value="'A'">Sindhi Camp</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Vaishal Nagar</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Mansarovar</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>