<ion-view view-title="Home" name="home-view" class="homeBG" cache-view="false">
    <ion-header-bar class="bar-positive">
        <button ng-click="openDrawer()" class = "button button-icon icon ion-navicon show"></button>
        <h1 class="title">All Accounts</h1>
        <button class = "button button-icon icon ion-person-add show" ng-click="goToPage('add-barber')"></button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <ion-list>
            <ion-item item="volunteer" class="item item-icon-right" ng-repeat="user in users">
                <i class="icon ion-trash-b icon-accessory"></i> 
                {{user.Barber.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>