<ion-view title="Dashboard" cache-view="false">
    <ion-content overflow-scroll="true" class="padding">
        <div class="list">
            <ion-item>
                <div class="row">
                    <div class="col-50 left-align">ABC Saloon</div>
                    <div class="col-50 right-align size-10">Unisex</div>
                </div>
                <div class="row">
                    <div class="left-align size-10">B-15, Viashali Nagar, Jaipur</div>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/profile.jpg" />
                <div class="row">
                    <div class="col-50 left-align">John Cemon</div>
                    <div class="col-50 right-align size-10">Rated 4.5</div>
                </div>
                <div class="row">
                    <div class="size-10">23 Reviews, 1K Followers</div>
                </div>
                <div class="row">
                    <div class="size-10">4 Hours Ago</div>
                </div>
            </ion-item>
            <ion-item class="full-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </ion-item>
            <ion-item class="text-center">
                Follow
            </ion-item>
            <ion-item>
                <ion-slide-box>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                </ion-slide-box>
            </ion-item>
            <ion-item>
                <div class="row margin-top-5">
                    <button class="button col col-30 ion-thumbsup"> &nbsp;&nbsp;Like</button>
                    <button class="button col col-40 ion-chatbubble"> &nbsp;&nbsp;Comment</button>
                    <button class="button col col-30 ion-share"> &nbsp;&nbsp;Share</button>
                </div>
            </ion-item>
        </div>

        <div class="list margin-top-5">
            <ion-item>
                <div class="row">
                    <div class="col-50 left-align">ABC Saloon</div>
                    <div class="col-50 right-align size-10">Unisex</div>
                </div>
                <div class="row">
                    <div class="left-align size-10">B-15, Viashali Nagar, Jaipur</div>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/profile.jpg" />
                <div class="row">
                    <div class="col-50 left-align">John Cemon</div>
                    <div class="col-50 right-align size-10">Rated 4.5</div>
                </div>
                <div class="row">
                    <div class="size-10">23 Reviews, 1K Followers</div>
                </div>
                <div class="row">
                    <div class="size-10">4 Hours Ago</div>
                </div>
            </ion-item>
            <ion-item class="full-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </ion-item>
            <ion-item class="text-center">
                Follow
            </ion-item>
            <ion-item>
                <ion-slide-box>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                    <ion-slide>
                        <img src="img/Hydrangeas.jpg" style="width:30%" />
                        <img src="img/Desert.jpg" style="width:30%" />
                        <img src="img/Chrysanthemum.jpg" style="width:30%" />
                    </ion-slide>
                </ion-slide-box>
            </ion-item>
            <ion-item>
                <div class="row margin-top-5">
                    <button class="button col col-30 ion-thumbsup"> &nbsp;&nbsp;Like</button>
                    <button class="button col col-40 ion-chatbubble"> &nbsp;&nbsp;Comment</button>
                    <button class="button col col-30 ion-share"> &nbsp;&nbsp;Share</button>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
