<ion-view view-title="Home" name="home-view" class="homeBG" cache-view="false">
    <ion-header-bar class="bar-positive trans-header">
        <button class="button icon ion-chevron-left no-border bg-none" ng-click="myGoBack()"></button>
        <h1 class="title align-center">{{userDetail.UserDetail.name}}</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="" style="top:0;">
        <ion-list>
            <ion-item class="item bg-top-pro">
                <div class="item-avatar">
                    <img ng-if="userDetail.UserDetail.profile_picture == ''" src="img/profile.jpg" class="avtar-custom" />
                    <img ng-if="userDetail.UserDetail.profile_picture != ''" src="{{userDetail.UserDetail.profile_picture}}" class="avtar-custom" />
                </div>
               
                <div class="center-align col-f">{{userDetail.UserDetail.name}}</div>
                 <div class="size-10 gen center-align col-f">{{userDetail.UserDetail.gender}}</div>
                <div class="main-li-tb">
                <div class="center-align size-12 col-f li-tb">{{userDetail.UserDetail.current_reviews}} <br>Reviews</div>
                <div class="center-align size-12 col-f li-tb">  {{userDetail.UserDetail.current_followers}} <br> Follower</div>
                <div class="center-align size-12 col-f li-tb">{{userDetail.UserDetail.current_following}} <br>Following</div>
                    </div>
            </ion-item>

            <ion-item class="box-set">
                <!--div class="center-align">Reviews</div-->
                <div class="list box-set-upper" ng-repeat="review in userDetail.Review">
                  
                          <div class="profile-detail" style="margin-top:0">
                        <div class="row">
                            <div class="self-name align-left">{{review.Merchant.name}}</div>
                            
                        </div>
                        <div class="row">
                            <i class="icon ion-location size-16" style="float:left;"></i>
                            <div class="size-12">{{review.Merchant.address}}</div>
                        </div>
                        </div>
                    
                    <div class="profile-rating">
                    
                    
                    <div class="right-align size-10">
                        
                        <pre ng-repeat="type in review.Merchant.MerchantType">{{type.name}}</pre></div>
                    
                    
                    </div>
                    
                    <div class="rating-show">
                        <div class="row">
                     <div class="col"><span>Rated</span> {{review.Review.rating}}</div>
                            </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col size-12 full-text">{{review.Review.review}}</div>
                       
                    </div>
                        
                            <div class="row center-align ti-cal-set" style="padding:2px 5px !important;">
                                <div class="col center-align icon ion-calendar">{{review.Review.created_date}}</div>
                                <div class="col center-align icon ion-clock">{{review.Review.created_time}}</div>
                               
                        </div>
                    <div ng-if="review.UserImage.length > 0">
                        <ion-slide-box ng-init="remainder = Math.ceil(review.UserImage.length / 3)">
                            <ion-slide ng-repeat="key in Range(remainder)">
                                <img ng-repeat="(k,val) in review.UserImage" ng-if="((k < (3 * key)) && (k>=((3*key)-3)))" data-val="{{k}}"  src="{{val.image}}" style="width:30%" />
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                         <div class="row">
                            <button class="button col col-30 icon ion-thumbsup"> ({{userDetail.UserDetail.current_likes}})</button>
                            <button class="button col col-40 icon ion-chatbubble"> ({{userDetail.UserDetail.current_comments}})</button>
                            <button class="button col col-30 icon ion-share"> ({{userDetail.UserDetail.current_shares}})</button>
                        </div>
                    
                  
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
